<ul class="collections">
    <li ng-repeat="collection in $ctrl.collections track by collection.$loki"
        ui-sref-active="active collection-item--active"
        ui-sref="route.list.item({id: collection.$loki})"
        class="collections__item collection-item">
        <div class="collection-item__info collection-item__info--name" ng-bind="collection.name"></div>
        <div class="collection-item__info collection-item__info--description"
             ng-bind="collection.description"></div>
        <div class="collection-item__action">
            <span class="btn btn--circular btn-collection" ng-click="$ctrl.removeCollection(collection)">
                <svg class="icon btn-collection__icon">
                    <use xlink:href="#close" />
                </svg>
            </span>
        </div>
    </li>
</ul>
