@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizelegibility;
    font-family: "Helvetica Neue", Helvetica, Segoe UI, Arial, "Lucida Grande", sans-serif;
    cursor: default;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3f5167;
    opacity: 0;

    animation: show .5s .3s ease-in-out 1;
    animation-fill-mode: forwards;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

.input {
    border: 0;
    border-bottom: 1px solid #e6edf4;
    color: #556473;
    font-weight: 300;
    padding: 5px;
    transition: all 0.25s;

    &:focus {
        outline: 0;
        border-bottom: 1px solid #22b8eb;
    }
}

//TODO refactor buttons
.btn {
    background-color: transparent;
    color: #556473;
    border: 1px solid #556473;
    box-shadow: none;
    text-shadow: none;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    &--circle {
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 0;
        vertical-align: middle;

        .icon {
            width: 20px;
            height: 20px;
        }
    }

    &--add {
        transition: all 150ms;
        background: transparent;
        border: 1px solid #15cc35;
        color: #15cc35;

        &:hover {
            border-color: darken(#15cc35, 10%);
            .icon {
                fill: darken(#15cc35, 10%);
            }
        }
        .icon {
            fill: #15cc35
        }
    }

    &--remove {
        transition: all 150ms;
        background: transparent;
        border: 1px solid #22b8eb;
        color: #22b8eb;
        &:hover {
            border-color: darken(#22b8eb, 10%);
            .icon {
                fill: darken(#22b8eb, 10%);
            }
        }
        .icon {
            fill: #22b8eb
        }
    }

    &--circular {
        display: flex;
        border-radius: 50%;
        text-align: center;
        padding: 0;
    }
}

.containers {
    box-sizing: border-box;
    height: 100%;
    display: flex;

    &__sidebar {
        display: flex;
        height: 100%;
        border-right: 1px solid #e6edf4;
        min-width: 210px;
        box-sizing: border-box;
        position: relative;
    }
    &__header {
        display: flex;
        border-bottom: 1px solid #e6edf4;
        -webkit-app-region: drag;
        -webkit-user-select: none;
    }
    &__content {
        background-color: #f6f8fb;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        flex: 1 0;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
}

.content {
    text-align: center;
}
