<div class="sidebar" style="max-height: calc(100vh - 29px)">
    <section class="sidebar-header">
        <h4>Collections</h4>
        <div class="create">
            <a ng-click="sidebar.addCollection()">
                <span class="btn btn-new btn-action has-icon btn-hollow">
                    <span class="icon icon-add"></span><span>New</span>
                </span>
            </a>
        </div>
    </section>
    <section class="sidebar-containers">
        <ul>
            <li ng-repeat="(key, collection) in sidebar.collections track by $index"
                ui-sref-active="active" ui-sref="route.list.item({id: key})">
                <a>
                    <div class="info">
                        <div class="name" ng-bind="collection.name"></div>
                        <div class="image">
                            <span ng-bind="collection.description">postgres</span>
                        </div>
                    </div>
                    <div class="action">
                        <span class="btn circular" ng-click="sidebar.removeCollection(key)">
                            <span class="icon icon-delete"></span>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</div>
