.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    &__window-controls {
        flex-shrink: 0;
    }
    &__header {
        flex-shrink: 0;
    }
    &__list {
        overflow-y: auto;
        flex-grow: 1;
    }
    &__footer {
        flex-shrink: 0;
        height: 30px;
        border-top: 1px solid #e6edf4;
    }
}
