.list-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 10px;
    height: 100vh;
    box-sizing: border-box;

    &__timer {
        position: absolute;
        top: 3px;
        right: 0;
        z-index: 2;
    }
    &__header {
        flex-shrink: 0;
        box-shadow: 0 15px 12px #fff;
        position: relative;
        z-index: 1;
    }
    &__list {
        flex-grow: 1;
        padding: 12px 0;
        overflow-y: auto;
    }
}

.list {
    &__item {
        background: #fff;
        display: flex;
        justify-content: center;
    }
}
