<div class="list-container">
    <timer-input class="list-container__timer" collection="list.collection"></timer-input>

    <section class="list-container__header">
        <h2 class="list-container__title" ng-bind="list.collection.name"></h2>
        <svg class="icon" style="display: none;">
            <use xlink:href="#edit" />
        </svg>

        <list-form add-to-collection="list.addToCollection"></list-form>
    </section>

    <section class="list-container__list">
        <div class="list">
            <div class="list__item" ng-repeat="word in list.collection.list track by $index">
                <div class="list-item">
                    <input class="input list-item__input list-item__input--eng" type="text" ng-model="word.eng">
                    <input class="input list-item__input list-item__input--translation" type="text" ng-model="word.translate">
                    <button class="list-item__btn btn btn--circle btn--remove" ng-click="list.removeFromCollection($index)">
                        <svg class="icon">
                            <use xlink:href="#close" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
